<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>24C0A767-F086-4495-A7AF-6431D67CA3C1</key>
	<array>
		<dict>
			<key>MacroActionType</key>
			<string>Semaphore</string>
			<key>SemaphoreAction</key>
			<string>Lock</string>
			<key>SemaphoreName</key>
			<string>Quick Record 24C0A767-F086-4495-A7AF-6431D67CA3C1</string>
			<key>TimeOutAbortsMacro</key>
			<true/>
		</dict>
	</array>
	<key>E1885CCC-A78F-4ABA-BD8A-DE7823BA7AE1</key>
	<array>
		<dict>
			<key>MacroActionType</key>
			<string>Semaphore</string>
			<key>SemaphoreAction</key>
			<string>Lock</string>
			<key>SemaphoreName</key>
			<string>Quick Record E1885CCC-A78F-4ABA-BD8A-DE7823BA7AE1</string>
			<key>TimeOutAbortsMacro</key>
			<true/>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
		<dict>
			<key>KeyCode</key>
			<integer>122</integer>
			<key>MacroActionType</key>
			<string>SimulateKeystroke</string>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>ReleaseAll</key>
			<false/>
			<key>TargetApplication</key>
			<dict/>
			<key>TargetingType</key>
			<string>Front</string>
		</dict>
	</array>
</dict>
</plist>
